.center {
    margin-left: auto;
    margin-right: auto;
  }


table {
    border: 2px solid blue;
}

div {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#cell {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
      padding-bottom: 20px;

      border: crimson 2px dotted;
  }


#index {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}